<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_BilligerDeTracking>
            <version>1.0.0</version>
        </MageProfis_BilligerDeTracking>
    </modules>
    <global>
        <helpers>
            <mageprofis_billigerdetracking>
                <class>MageProfis_BilligerDeTracking_Helper</class>
            </mageprofis_billigerdetracking>
        </helpers>
        <blocks>
            <mageprofis_billigerdetracking>
                <class>MageProfis_BilligerDeTracking_Block</class>
            </mageprofis_billigerdetracking>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <mageprofis_billigerdetracking>
                    <file>MageProfis_BilligerDeTracking.xml</file>
                </mageprofis_billigerdetracking>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <!--
        <translate>
            <modules>
                <MageProfis_BilligerDeTracking>
                    <files>
                        <default>MageProfis_BilligerDeTracking.csv</default>
                    </files>
                </MageProfis_BilligerDeTracking>
            </modules>
        </translate>
        -->
    </adminhtml>
</config>
